@font-face{
    font-family: 'JoseBold';
    src: url('JosefinSlab-Bold.ttf');
}

#container{
    margin: 0 auto;
    width: 90vmin;
    overflow: auto;
}

@font-face{
    font-family: 'JosefinSlab';
    src: url('JosefinSlab-Thin.ttf');
}

* {
    font-family: 'JoseBold';
    font-size: 2vmin;;
}

h1{
    text-align: center;
    font-family: 'JosefinSlab';
    font-size: 5vmin;
}

#enterBName{
    margin-left: 6vmin;
    float: left;
}

#enterBAuthor{
    margin-right: 6vmin;
    float: right;
}

#addWrap{
    text-align: center;
}

#add{
    margin-top: 2vmin;
    margin-bottom: 1vmin;
    width: 16vmin;
    height: 4vmin;
    background-color: white;
    border: solid;
}

button:active{
    filter: brightness(90%);
}

button:focus{
    outline: none;
}

hr{
    width: 93%;
}

.book{
    height:10vmin;
    background-color: white;
}

.book:hover{
    background-color: lightgray;
}

.info{
    margin-left: 4vmin;
    width: 45%;
    float: left;
}

.extra{
    width: 45%;
    float: right;
    height: 100%;
}

.dates{
    float: right;
    margin-top: 57px;
}

.close{
    background-color: transparent;
    border: none;
    color: grey;
    margin-top: 20px;
    margin-right: 4vmin;
    float: right;
    top: 0;
}

.close:hover{
    color: red;
}